*,*::before,*::after{box-sizing:border-box}
*{margin:0}
html:focus-within{scroll-behavior:smooth}
body{min-height:100vh;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
img,picture,svg,video{display:block;max-width:100%}
input,button,textarea,select{font:inherit}
a{color:inherit}
ul{list-style:none;padding:0}
